@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Raspberry Pi Home Security</h1>
    <p class="lead">Viewing the last 6 Cloud Storage Images:</p>
</div>

<div class="row">
    <div >
        <p>
            @Html.Raw(ViewBag.PicArea)
        </p>
    </div>
</div>